// Units
$base-font-size: 17px; //primary measyre unit
$base: $base-font-size + 4px;
//Fonts
$stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; //Body copy
//$base-font: 'Georgia', serif;
$base-font: 'SFUI Display', $stack, sans-serif; //headlines + misc
$heading-font: 'SFUI Display', $stack, sans-serif;
// Colors
$primary: #f9d404;
$secondary: #134d26;
$tertiary: #0e2b19;
// Grays
$dark-gray: #353535;
$gray: lighten($dark-gray, 33%);
$light-gray: #eff0e2;
//Font
$base-font-color: $dark-gray;
$base-link-icon: '\f287'; // ionicon arrow right
// Misc
$radius: 3px;
$trans: 50ms;
$line-height: 1.45;
$border-width: 3px;
$letter-space: .025em;
$opac: .75;
// Multi-selectors
$all-buttons: 'button:not(.flickity-prev-next-button):not(.search-submit):not(#searchsubmit):not(.menu-toggle):not(.customize-partial-edit-shortcut-button), .btn, .btn-alt, button[type=reset], input[type=reset], input[type=submit]:not(.search-submit)';
$all-text: 'input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]), textarea, select';
$archives: '.archive, .tag, .author, .category, .date, .blog, .search';
$conditional-links: '&.current-menu-item, &.current_page_item, &.current-menu-ancestor, &.current-page-parent, &.current_page_parent';